/*  Globales */
:root {
  --white: #fff;
  --gray: #d1d7dc;
  --purple: #591882;
  --lightPurple: #a529f1;
  --dark: #1c1d1f;
  --star: #e59819;
  --number: #b4690e;
  --dark-gray: #6a6f73;
  --mainFont: 'STIX Two Text', serif;

  --fuente-principal: 'Roboto', sans-serif;

}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: var(--fuente-principal);
}
p {
  font-size: 2rem;
}
.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}
.bold {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: var(--dark);
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  margin: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
/* Header */

/* primera navegacion */
.nav {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  border-bottom: 1px solid var(--gray);
}
@media (max-width: 500px) { 
  .nav {
    height: 25rem;
    flex-wrap: wrap;
  }
}

.nav-title p {
  font-weight: bold;
  font-size: 3rem;
}

.nav-elements {
  font-size: 1.3rem;
}
@media (max-width: 860px) { 
  .nav-elements {
    display: none;
  }
}
.nav-elements:hover {
  color: var(--lightPurple);
}

.nav-input {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid var(--dark);
  border-radius: 2.5rem;
  width: 40rem;
  height: 5rem;
}
.nav-input__svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-input__svg svg {
  width: 2rem;
  height: 2rem;
}
.nav-input__input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
}
.nav-icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 10rem;
}
.nav-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-icon a svg {
  width: 2.5rem;
  height: 2.5rem;
}
.nav-icon a svg:hover {
  fill: var(--lightPurple);
}
.nav-icon__submenu svg {
  width: 2.5rem;
  height: 2.5rem;
}
.nav-icon__submenu svg:hover {
  fill: var(--lightPurple);
}
.nav-icon__submenu {
  list-style: none;
  position: relative;
}
.nav-icon__submenu #carrito{
  display: none;
}
.tabla {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.vaciar {
  display: flex;
  
}
.nav-icon__submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;

  top:100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}
.nav-perfil {
  background-color: var(--dark);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.7rem;
}

/*segunda navegacion*/
.nav-two {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  box-shadow: 10px 5px 5px var(--gray);
}


.nav-two__div {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
  height: 48px;
}

.section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 20rem;
}
.section-title {
  display: flex;
  align-items: flex-end;
  font-size: 3.5rem;
}
.section-subtitle {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.main-title {
  width: 100%;
  border-bottom: 1px solid var(--gray);
}
.main-title h2 {
  width: 16rem;
  font-size: 1.8rem;
  padding: 2rem;
}
.main-title h2:hover {
  border-bottom: 2px solid var(--dark);
  cursor: pointer;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 1080px) { 
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main-card {
  width: 25rem;
}


.main-img {
  width: 25rem;
  height: 15rem;
}
.main-img img {
  width: 25rem;
  height: 15rem;
}
.main-card h3 {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.main-card__p1 {
  color: var(--dark-gray);
  font-size: 1.3rem;
}
.main-card__p2 {
  font-size: 1.6rem;
  font-weight: bold;
}
.precio-antiguo {
  font-weight: 400;
  font-size: 1.4rem;
  text-decoration: line-through;
  color: var(--dark-gray);
}
.main-B {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.main-button {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}
.button {
  background-color: var(--lightPurple);
  color: var(--white);
  border: none;
  font-weight: bold;
  padding: 1rem 2rem;
}
.button:hover {
  background-color: var(--purple);
  color: var(--white);
  border: none;
  font-weight: bold;
  padding: 1rem 2rem;
  cursor: pointer;
}
.main-button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button a svg {
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--dark);
  border-radius: 50%;
  padding: 0.5rem;
}
.main-button a svg:hover {
  fill: var(--gray);
}

.section-two {
  height: 8.5rem;
  background-color: var(--dark);
  border-bottom: 1px solid var(--dark-gray);
}
@media (max-width: 760px ) { 
  .section-two {
    height: 15rem;
  }
}

.section-two__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 760px ) { 
  .section-two__container {
    display: block;
  }
}
.section-two__text {
  color: var(--white);
}
.section-two__text h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.section-two__text p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
.section-two__button {
  background-color: var(--dark);
  font-weight: bold;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 2rem;
}
.section-two__button:hover {
  background-color: #3a3737;
  cursor: pointer;
}
.udemy-business {
  color: var(--dark-gray);
  font-weight: bold;
}
.udemy-business:hover {
  cursor: pointer;
  text-decoration: underline;
}
.section-two__container2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
}
@media (max-width: 760px) { 
  .section-two__container2 {
    display: block;
  }
}

.section-two__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two__icons svg{
  width: 6rem;
  height: 6rem;
  fill: var(--gray);
}
.section-two__text2 {
  display: flex;
  align-items: center;
  color: var(--white);
}
.section-two__text2 h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}
footer {
  background-color: var(--dark);
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title__footer p{
  font-weight: bold;
  font-size: 3rem;
  color: var(--white);
}
.text-footer {
  font-size: 1.2rem;
  color: var(--white);
}
tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  font-size: 1.2rem;
  gap: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
.borrar {
  background-color: red;
  border-radius: 50%;
  padding: 1rem;
  font-weight: bold;
  color: var(--white);
}
.borrar:hover {
  background-color: #e26060;
}
